/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-media-carousel {
	border: 1px dotted #f00;
}
.color {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: calc(8px);
	padding: 0px;
}

.slider-boxwrap {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.slider-boxwrap .mcfgb-gallery-single {
	/* flex: 1; */
	width: 48%;
}
.slider-boxwrap .mcfgb-gallery-single img {
	height: 170px;
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}


.arrowclass .components-radio-control__option {
    display: flex;
    align-items: center;
	gap: 5px;
}
.arrowclass .components-radio-control__option label {
    max-width: 100%;
    display: flex;
    align-items: center;
	gap: 15px;
}
.arrowclass .components-radio-control__option label img {
    max-width: 20px !important;
}