/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenberg-media-carousel {
	border: 1px dotted #f00;
}
.color {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: calc(8px);
	padding: 0px;
}

.slider-boxwrap {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

.arrowclass .components-radio-control__option {
	display: flex;
	align-items: center;
	gap: 5px;
}
.arrowclass .components-radio-control__option label {
	max-width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 5px;
	position: relative;
	width: 50px;
	height: 50px;
}
.arrowclass .components-radio-control__option label img {
	max-width: 30px !important;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slider-boxwrap .mcfgb-gallery-single {
	position: relative;
	cursor: pointer;
}

.slider-boxwrap .mcfgb-gallery-single {
	max-height: 220px;
	width: 48% !important;
}
input.ytb-url,
input.caption,
input.caption-video {
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 40px;
	background: transparent;
	border: 1px solid rgb(255, 255, 255);
	box-shadow: 5px 5px 10px #fff;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease all;
}
input.ytb-url::placeholder,
input.caption::placeholder,
input.caption-video::placeholder {
	color: #fff;
}
.slider-boxwrap .mcfgb-gallery-single img,
.slider-boxwrap .mcfgb-gallery-single video {
	height: 220px;
	max-width: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 20px;
	transition: 0.3s ease all;
	box-shadow: 0px 0px 10px #8f8f8f;
}
.slider-boxwrap .mcfgb-gallery-single:hover img,
.slider-boxwrap .mcfgb-gallery-single:hover video {
	filter: blur(4px);
}
.slider-boxwrap .mcfgb-gallery-single:hover input.ytb-url {
	opacity: 1;
	visibility: visible;
	top: 34%;
}
.slider-boxwrap .mcfgb-gallery-single:hover input.caption {
	opacity: 1;
	visibility: visible;
	top: 63%;
}
.slider-boxwrap .mcfgb-gallery-single:hover input.caption-video {
	opacity: 1;
	visibility: visible;
	top: 50%;
}

.arrowclass input[type="radio"] {
	display: none;
}

.arrowclass input[type=radio]:checked + label {
	border-radius: 50%;
}

.arrowclass .components-flex {
	flex-direction: row;
	justify-content: flex-start;
}
