/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

// .wp-block-create-block-gutenberg-media-carousel {
// 	background-color: #21759b;
// 	color: #fff;
// 	padding: 2px;
// }


.utk-gallery-type-masonry {
	transition: all 0.5s ease-in-out;
	column-fill: initial;
	column-count: var(--utk--gallery--col);
	gap: var(--utk--gallery--gutter);
	.utk-gallery-single {
		display: block;
		box-sizing: border-box;
		overflow: hidden;
		margin-bottom: var(--utk--gallery--gutter);
		img {
			display: block;
			transition: all 0.23s ease-in-out;
			backface-visibility: hidden;
			width: 100%;
		}
		&.utk-gallery-hover-zoom_in {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		&.utk-gallery-hover-zoom_out {
			img {
				transform: scale(1.05);
			}
			&:hover {
				img {
					transform: scale(1);
				}
			}
		}
	}
}
.utk-gallery-type-grid {
	display: grid;
	grid-gap: var(--utk--gallery--gutter);
	grid-template-columns: repeat( var(--utk--gallery--col), 1fr );
	grid-template-rows: repeat( var(--utk--gallery--col), 1fr );
	padding: 0 var(--utk--gallery--gutter);
	transition: all 0.5s ease-in-out;
	.utk-gallery-single {
		position: relative;
		padding-top: 100%;
		display: block;
		box-sizing: border-box;
		overflow: hidden;
		img {
			display: block;
			transition: all 0.23s ease-in-out;
			backface-visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.utk-gallery-hover-zoom_in {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		&.utk-gallery-hover-zoom_out {
			img {
				transform: scale(1.05);
			}
			&:hover {
				img {
					transform: scale(1);
				}
			}
		}
	}
}
.utk-gallery-type-tiles {
	display: grid;
	gap: var(--utk--gallery--gutter);
	grid-template-columns: repeat( var(--utk--gallery--col), 1fr );
	grid-template-rows: masonry;
	transition: all 0.5s ease-in-out;
	.utk-gallery-single {
		position: relative;
		display: block;
		box-sizing: border-box;
		overflow: hidden;
		img {
			display: block;
			transition: all 0.23s ease-in-out;
			backface-visibility: hidden;

			grid-row: 1 / -1;
			grid-column: 1;
			max-width: 100%;
			display: block;
		}
		&.utk-gallery-hover-zoom_in {
			&:hover {
				img {
					transform: scale(1.05);
				}
			}
		}
		&.utk-gallery-hover-zoom_out {
			img {
				transform: scale(1.05);
			}
			&:hover {
				img {
					transform: scale(1);
				}
			}
		}
	}
}

