/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.bottom .slick-dots li,
.side .slick-dots li {
	opacity: 0.5;
	width: 10px;
	height: 10px;
}
.bottom .slick-dots li.slick-active,
.side .slick-dots li.slick-active {
	opacity: 1;
}
.bottom .slick-dots li:hover,
.side .slick-dots li:hover {
	opacity: 1;
}

.bottom .slick-next,
.bottom .slick-prev {
	border-radius: 50% !important;
	width: 40px !important;
	height: 40px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom .slick-prev {
	left: -56px !important;
}
.bottom .slick-next {
	right: -56px !important;
}

.prev-btn svg,
.next-btn svg {
	width: 100%;
	height: 100%;
}
.prev-btn,
.next-btn {
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.bottom .custom1 .svg-arrow {
	display: flex !important;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.bottom .custom2 .svg-arrow {
	display: flex !important;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.bottom .custom3 .svg-arrow {
	display: flex !important;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.custom1 .prev-btn :focus,
.custom2 .prev-btn:focus,
.custom3 .prev-btn:focus,
.custom1 .next-btn :focus,
.custom2 .next-btn:focus,
.custom3 .next-btn:focus {
	border: none !important;
	outline: none !important;
}

.next-btn svg {
	transform: rotate(180deg);
}
.prev-btn.slick-arrow.slick-disabled,
.next-btn.slick-arrow.slick-disabled {
	opacity: 0.5;
	cursor: default;
}

.bottom .slick-prev {
	bottom: -106px !important;
	top: unset !important;
	left: 45% !important;
	transform: translate(-50%, -50%);
}
.bottom .slick-next {
	bottom: -106px !important;
	top: unset !important;
	right: 40% !important;
	transform: translate(-50%, -50%);
}

.side .prev-btn {
	border-radius: 50% !important;
	width: 40px !important;
	height: 40px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.side .next-btn {
	border-radius: 50% !important;
	width: 40px !important;
	height: 40px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}

.side .mcfgb-gallery-single,
.bottom .mcfgb-gallery-single {
	position: relative;
	padding-top: 70%;
	margin: 0 10px;
}
.side .mcfgb-gallery-single img,
.side .mcfgb-gallery-single video,
.bottom .mcfgb-gallery-single img,
.bottom .mcfgb-gallery-single video,
.bottom .mcfgb-gallery-single iframe,
.side .mcfgb-gallery-single iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.side .slick-dots,
.bottom .slick-dots {
	bottom: unset;
	position: relative;
	margin: 10px 0 10px;
}

.side {
	position: relative;
}
.side #btn-wrap {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 0;
	transform: translateY(-50%);
}
.side .prev-btn.slick-arrow {
	position: absolute;
	left: -50px;
	top: 0;
}
.side .next-btn.slick-arrow {
	position: absolute;
	right: -50px;
	top: 0;
}
.bottom #btn-wrap {
	margin-top: 55px;
}
.false .custom1,
.false .custom2,
.false .custom3,
.undefined .custom1,
.undefined .custom2,
.undefined .custom3 {
	display: none;
}
.mcfgb-gallery-single {
	position: relative;
}
.img-caption {
	text-align: center;
	padding: 0 10px;
	margin: 10px 0 0;
}
.slick-dots .number {
	font-size: 24px;
}

@media (max-width: 767px) {
	.side .next-btn,
	.side .prev-btn {
		width: 30px !important;
		height: 30px !important;
	}
	.bottom .next-btn,
	.bottom .prev-btn {
		width: 30px !important;
		height: 30px !important;
	}

	.side .prev-btn.slick-arrow {
		left: -30px;
	}
	.side .next-btn.slick-arrow {
		right: -30px;
	}
}

.slick-dots li.number {
	width: 26px;
	height: 25px;
	font-size: 16px;
	border-radius: 50%;
}

.side .custom1,
.side .custom2,
.side .custom3 {
	position: absolute;
	width: 100%;
	top: 37%;
	transform: translateY(-50%);
}

.simpleType.side .custom3,
.simpleType.side .custom2,
.simpleType.side .custom1 {
	top: 42% !important;
}
.bottom .slick-dotted {
	margin-bottom: 20px !important;
}
.carouselType,
.simpleType {
	margin-bottom: 100px;
}
